@import "../styles.sass"

.navbar
    padding: 1em
    align-items: center
    display: flex
    flex-direction: row
    justify-content: space-between
    background-color: $main-color
    > .navbar-title
        margin-left: 1em
        font-weight: bold
        flex: 2
    > .navbar-list
        margin-right: 1em
        display: flex
        flex-direction: row
        justify-content: space-between
        flex: 1
.main-container
    min-height: 100vh
.footer
    display: flex
    background-color: $main-color
    justify-content: space-between
    align-items: center
    margin-top: auto
    width: 100%
    > .footer-right
        margin-right: 1em
.footer-left > .footer-logo
    margin-left: 1em
    width: 10% 
    