<nav class='navbar'>
  <img class='navbar-img' src='assets/images/mountebank.png' />
  <div class='navbar-menu'>
    <h1 class='navbar-title'>{{pageTitle}}</h1>    
    <div class='navbar-list'>
      <a class='nav-link' [routerLink]="['/welcome']" [routerLinkActive]="'active'">Home</a>
      <a class='nav-link' [routerLink]="['/imposters']" [routerLinkActive]="'active'">Imposters</a>
      <a class='nav-link' [routerLink]="['/logs']" [routerLinkActive]="'active'">Logs</a>
      <a class='nav-link' [routerLink]="['/config']" [routerLinkActive]="'active'">Config</a>
    </div>
  </div>
</nav>
<div class='main-container'>
  <router-outlet></router-outlet>
</div>
<div class='footer'>
  <div class='footer-left'>
    <img class='footer-logo' src='./assets/images/opus.png'>
  </div>
  <div class='footer-right'>2020</div>
</div>