@import "../styles.sass"

.navbar
    padding: 1em
    align-items: center
    display: flex
    flex-direction: row
    justify-content: space-between
    background-color: $main-color
    > .navbar-img
        flex: 1
    > .navbar-menu
        flex: 7
        display: flex
        flex-direction: column

.navbar > .navbar-menu   
    margin: 1em    
    > .navbar-title
        margin: 1em
        font-weight: bold
    > .navbar-list
        margin: 1em
        display: flex
        flex-direction: row
        justify-content: space-evenly

.navbar > .navbar-menu > .navbar-list
    > .nav-link
        color: black
        padding: .6em 1em .5em 1em
        text-decoration: none
    > .nav-link:hover
        background-color: rgba(138,119,10,.5)
    > .active
        background-color: $main-color2
        color: black

.main-container
    min-height: 100vh
.footer
    display: flex
    background-color: $main-color
    justify-content: space-between
    align-items: center
    margin-top: auto
    width: 100%
    > .footer-right
        margin-right: 1em
.footer-left > .footer-logo
    margin-left: 1em
    width: 10% 
    