<div class='card' *ngIf='!showPostForm'>
    <div class='card-header'>
        <h1>Imposters Viewer</h1>
    </div>
    <div class='card-body'>
        <div class='port-search'>
            <a>Specify the port where Mountebank is running:</a>
            <input type='text' [(ngModel)]='port' />
            <button class='btn' (click)='searchImposters(port)'>
                Show Imposters
            </button>
        </div>
        <table class='imposters-table' *ngIf='imposters'>
            <thead>
                <tr>
                    <th>Port</th>
                    <th>Protocol</th>
                </tr>
            </thead>      
            <tbody>
                <tr *ngFor='let imposter of imposters'>
                    <td>
                        <a [routerLink]="['/imposters', port, imposter.port]">
                            {{ imposter.port }}
                        </a>
                    </td>
                    <td>{{ imposter.protocol }}</td>
                </tr>
            </tbody>      
            <tfoot>
                <tr>
                    <td colspan='2'>
                        <button class='btn' (click)='togglePostForm()'>Add Imposter</button>
                    </td>
                  </tr>
            </tfoot>
        </table>
            
    </div>
</div>
<div class='card' *ngIf='showPostForm && port'>
    <div class='card-header'>
        <h3>Add a new imposter to port {{ port }}</h3>
    </div>
    <div class='card-body'>
        <div class='row'>
            <span class='row-label'>                
                <label>Imposter Port:</label>  
            </span>                  
            <span class='row-content'>
                <input type='text' [(ngModel)]='newImposter.port' />
            </span>
        </div>
        <div class='row'>
            <div class='row-label'>
                <label>Imposter Protcols:</label>
            </div>
            <div class='row-content'>
                <input type='text' [(ngModel)]='newImposter.protocol' />
            </div>
        </div>
        <div class='row'>
            <div class='row-label'>
                <label>Imposter Stubs:</label>
            </div>
            <div class='row-content'>
                <textarea #stubs cols='80vw' rows='10' (change)='newImposter.stubs[0] = parse(stubs.value)'></textarea> 
            </div>
        </div>
    </div>
    <div class='card-footer'>
        <button class='btn' (click)='postImposter()'>Post</button>                
        <button class='btn' (click)='togglePostForm()'>Cancel</button>
    </div>
</div>    