<div class='card' *ngIf='imposter && !edit && !add'>
    <div class='card-header'>
        <h1>Details of Imposter at Port {{ port }}</h1>
    </div>
    <div class='card-body'>
        <div class='row'>
            Port: {{ imposter.port }}
        </div>
        <div class='row'>
            Protocol: {{ imposter.protocol }}
        </div>
        <div class='row'>
            Number of Requests: {{ imposter.numberOfRequests }}
        </div>
        <div class='stub-container'>
            <div class='row'>Stubs:</div>
            <div class='stub-card' *ngFor='let s of imposter.stubs; let i = index'>
                <pre>{{ s | json }}</pre>
                <button class='btn' (click)='deleteStub(i)'>Delete this Stub</button>
            </div>
        </div>
    </div>
    <div class='card-footer'>
        <button class='btn' (click)='toggleAdd()'>
            Add Stub
        </button>
        <button class='btn' (click)='toggleEdit()'>
            Edit Stubs
        </button>
        <button class='btn' (click)='deleteImposter()'>
            Delete this Imposter
        </button>
        <button class='btn' (click)='onBack()'>
            Return
        </button>
    </div>
</div>
<div class='card' *ngIf='edit && !add'>
    <div class='card-header'>
        <h1>Edit Imposter</h1>
    </div>
    <div class='card-body'>        
        <div class='row'>
            <div class='row-label'>
                <label>Port: <b>{{ imposterCopy.port }}</b></label>
            </div>
        </div>
        <div class='row'>
            <div class='row-label'>
                <label>Protocol: <b>{{ imposterCopy.protocol }}</b></label>
            </div>
        </div>
        <div class='row' *ngIf='imposterCopy.name'>
            <div class='row-label'>
                <label>Name: <b>{{ imposterCopy.name }}</b></label>
            </div>
        </div>
        <div class='row'>
            <div class='row-label'>
                <label>Number of Requests: <b>{{ imposterCopy.numberOfRequests }}</b></label>
            </div>            
        </div>      
        <div class='row'>
            <div class='row-label'>
                <label>Stubs:</label>
            </div>
            <div class='row-content' *ngFor='let stub of imposterCopy.stubs'>
                <div class='row stub'>
                    <div class='row-label'>
                        <label>Response:</label>
                    </div>
                    <div class='row-content'>
                        <textarea #response rows='15' (change)='stub.responses = parse(response.value)'>{{ stub.responses | json }}</textarea>
                    </div>
                </div>
                <div class='row stub'>    
                    <div class='row-label'> 
                        <label>Predicate:</label>
                    </div>
                    <div class='row-content'>
                        <textarea #predicate rows='15' (change)='stub.predicates = parse(predicate.value)'>{{ stub.predicates | json }}</textarea>
                    </div>
                </div>                
                <hr class='separator' />
            </div>
            
        </div>
    </div>
    <div class='card-footer'>
        <button class='btn' (click)='putStubs()'>Submit</button>
        <button class='btn' (click)='cancelEdit()'>Cancel</button>
    </div>
</div>
<div class='card' *ngIf='add && !edit'>
    <div class='card-header'>
        <h1>Add Stubs to the imposter</h1>
    </div>
    <div class='card-body stub'>
        <div class='row'>
            <div class='row-label'>
                <label>Index:</label>
            </div>
            <div class='row-content'>
                <input type='text' colspan='10%' #index />
            </div>
        </div>
        <div class='row'>
            <div class='row-label'>
                <label>Response:</label>
            </div>
            <div class='row-content'>
                <textarea #resp rows='15'></textarea>
            </div>
        </div>
        <div class='row'>
            <div class='row-label'>
                <label>Predicate:</label>
            </div>
            <div class='row-content'>
                <textarea #pred rows='15'></textarea>
            </div>
        </div>
    </div>
    <div class='card-footer'>
        <button class='btn' (click)='postStub(parse(resp.value), parse(pred.value), index.value)'>Submit</button>
        <button class='btn' (click)='toggleAdd()'>Cancel</button>
    </div>
</div>